# Define the rate limiting zone: 10MB of storage for IP addresses, 5 requests per second (5r/s)
limit_req_zone $binary_remote_addr zone=mylimit:10m rate=5r/s;

server {
    listen 8080 ssl;
    server_name localhost;

    ssl_certificate /etc/nginx/ssl/nginx.crt;
    ssl_certificate_key /etc/nginx/ssl/nginx.key;
    

    location / {
        # Added rate limit to the only "real" endpoint we have, which is the one that returns 200 OK
        limit_req zone=mylimit burst=5 nodelay;

        add_header Content-Type text/html;
        return 200 '<html><body><h1>Hello from Port 8080!</h1></body></html>';
    }
}


server {
    listen 9090 ssl;
    server_name localhost;

    ssl_certificate /etc/nginx/ssl/nginx.crt;
    ssl_certificate_key /etc/nginx/ssl/nginx.key;
    
    location / {
        return 403 'Access Denied';
    }
}