
server {
    listen 8080 ssl;
    server_name localhost;

    ssl_certificate /etc/nginx/ssl/nginx.crt;
    ssl_certificate_key /etc/nginx/ssl/nginx.key;
    

    location / {
        add_header Content-Type text/html;
        return 200 '<html><body><h1>Hello from Port 8080!</h1></body></html>';
    }
}


server {
    listen 9090 ssl;
    server_name localhost;

    ssl_certificate /etc/nginx/ssl/nginx.crt;
    ssl_certificate_key /etc/nginx/ssl/nginx.key;
    
    location / {
        return 403 'Access Denied';
    }
}